{
  "openapi": "3.1.0",
  "info": {
    "title": "Wellness Academy API",
    "version": "1.0.0",
    "description": "API for the Mental Health Education Platform — Wellness Academy. Session-based auth via Lucia, AI coaching via OpenRouter, content moderation on community features."
  },
  "servers": [
    {
      "url": "https://mental-health-education.soloframehub.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "components": {
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "data": {}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "details": {}
            },
            "required": [
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "UnauthorizedResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "enum": [
                  "Unauthorized"
                ]
              },
              "code": {
                "type": "string",
                "enum": [
                  "UNAUTHORIZED"
                ]
              }
            },
            "required": [
              "message",
              "code"
            ]
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/auth/signin": {
      "post": {
        "summary": "Sign in with email and password",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 12
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sign in successful, sets session cookie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "redirect": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "redirect"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials"
          },
          "429": {
            "description": "Rate limited"
          },
          "503": {
            "description": "Auth not configured (no database)"
          }
        }
      }
    },
    "/api/auth/signup": {
      "post": {
        "summary": "Create a new account",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 12
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created, session cookie set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "redirect": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "redirect",
                    "userId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error or email already in use"
          },
          "429": {
            "description": "Rate limited"
          },
          "503": {
            "description": "Auth not configured (no database)"
          }
        }
      }
    },
    "/api/auth/signout": {
      "post": {
        "summary": "Sign out and invalidate session",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Signed out, session cookie cleared"
          }
        }
      }
    },
    "/api/auth/session": {
      "get": {
        "summary": "Get current session user",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Current authenticated user or null",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "uid": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "uid",
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/onboarding/basic-info": {
      "post": {
        "summary": "Save basic info (name/display name)",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "displayName": {
                    "type": "string",
                    "maxLength": 100
                  }
                },
                "required": [
                  "name",
                  "displayName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/symptoms": {
      "post": {
        "summary": "Save symptom selections",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symptoms": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string",
                          "enum": [
                            "anxiety",
                            "depression",
                            "sleep",
                            "panic",
                            "social-anxiety",
                            "trauma",
                            "stress",
                            "ocd",
                            "anger",
                            "grief",
                            "other"
                          ]
                        },
                        "severity": {
                          "type": "string",
                          "enum": [
                            "mild",
                            "moderate",
                            "severe"
                          ]
                        },
                        "isPrimary": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "category"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "symptoms"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/crisis-screening": {
      "post": {
        "summary": "Save crisis/safety screening answers",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hasSuicidalThoughts": {
                    "type": "boolean"
                  },
                  "hasSelfHarmUrges": {
                    "type": "boolean"
                  },
                  "has988Acknowledged": {
                    "type": "boolean"
                  },
                  "feelsSafe": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "hasSuicidalThoughts",
                  "hasSelfHarmUrges",
                  "has988Acknowledged",
                  "feelsSafe"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/goals": {
      "post": {
        "summary": "Save wellness goals and preferences",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wellnessGoals": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  },
                  "timeCommitment": {
                    "type": "string",
                    "enum": [
                      "5-10min",
                      "15-30min",
                      "30-60min",
                      "60min+"
                    ]
                  },
                  "learningStyle": {
                    "type": "string",
                    "enum": [
                      "self-paced",
                      "guided",
                      "intensive"
                    ]
                  }
                },
                "required": [
                  "wellnessGoals"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/about-you": {
      "post": {
        "summary": "Save life situation and social support info",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ageRange": {
                    "type": "string",
                    "enum": [
                      "under-18",
                      "18-24",
                      "25-34",
                      "35-44",
                      "45-54",
                      "55-64",
                      "65-plus"
                    ]
                  },
                  "lifeStage": {
                    "type": "string",
                    "enum": [
                      "student",
                      "working",
                      "unemployed",
                      "stay-at-home",
                      "retired",
                      "other"
                    ]
                  },
                  "livingSituation": {
                    "type": "string",
                    "enum": [
                      "alone",
                      "with-partner",
                      "with-family",
                      "with-roommates",
                      "other"
                    ]
                  },
                  "supportNetworkStrength": {
                    "type": "string",
                    "enum": [
                      "none",
                      "weak",
                      "moderate",
                      "strong"
                    ]
                  },
                  "hasTrustedPerson": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "comfortWithGroupActivities": {
                    "type": "string",
                    "enum": [
                      "prefer-individual",
                      "open-to-group",
                      "prefer-group"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/your-experience": {
      "post": {
        "summary": "Save coping history, triggers, therapy background",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentCopingStrategies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "unhealthyCopingToChange": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "therapyHistory": {
                    "type": "string",
                    "enum": [
                      "never",
                      "past",
                      "currently-in-therapy"
                    ]
                  },
                  "previousSelfHelpExperience": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "knownTriggers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "worstTimeOfDay": {
                    "type": "string",
                    "enum": [
                      "morning",
                      "afternoon",
                      "evening",
                      "night",
                      "varies"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/in-your-words": {
      "post": {
        "summary": "Save free-text reflections",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goodDayDescription": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "biggestChallenge": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "hopedSupportDescription": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "personalPatterns": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "anythingElse": {
                    "type": "string",
                    "maxLength": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/questionnaire": {
      "post": {
        "summary": "Save questionnaire data to profile",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "questionnaire": {
                    "type": "object",
                    "properties": {
                      "primarySymptoms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      "wellnessGoals": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      "learning_style": {
                        "type": "string",
                        "default": ""
                      },
                      "time_commitment": {
                        "type": "string",
                        "default": ""
                      }
                    }
                  }
                },
                "required": [
                  "questionnaire"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/onboarding/assessment": {
      "post": {
        "summary": "Run AI analysis on onboarding data",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "onboardingData": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "type": "string"
                      },
                      "symptoms": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "category": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "category"
                          ]
                        }
                      },
                      "goals": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "safetyScreening": {
                        "type": "object",
                        "properties": {
                          "hasSuicidalThoughts": {
                            "type": "boolean"
                          },
                          "hasSelfHarmUrges": {
                            "type": "boolean"
                          },
                          "has988Acknowledged": {
                            "type": "boolean"
                          },
                          "feelsSafe": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "hasSuicidalThoughts",
                          "hasSelfHarmUrges",
                          "has988Acknowledged",
                          "feelsSafe"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI assessment results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "summary": {
                          "type": "string"
                        },
                        "recommendedCourses": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "summary",
                        "recommendedCourses"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "AI service unavailable"
          }
        }
      }
    },
    "/api/onboarding/complete": {
      "post": {
        "summary": "Mark onboarding as complete",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symptoms": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        },
                        "isPrimary": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "category"
                      ]
                    }
                  },
                  "goals": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "safetyScreening": {
                    "type": "object",
                    "properties": {
                      "hasSuicidalThoughts": {
                        "type": "boolean"
                      },
                      "hasSelfHarmUrges": {
                        "type": "boolean"
                      },
                      "has988Acknowledged": {
                        "type": "boolean"
                      },
                      "feelsSafe": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "hasSuicidalThoughts",
                      "hasSelfHarmUrges",
                      "has988Acknowledged",
                      "feelsSafe"
                    ]
                  }
                },
                "required": [
                  "symptoms",
                  "goals"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/complete-lesson": {
      "post": {
        "summary": "Mark a lesson as completed and award XP",
        "tags": [
          "Academy"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "lessonId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "xpEarned": {
                    "type": "number",
                    "default": 10
                  },
                  "isLastLesson": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "courseId",
                  "lessonId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lesson completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/quiz/{sectionId}/{courseId}/{lessonId}": {
      "get": {
        "summary": "Get quiz questions for a lesson",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "sectionId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Quiz questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "questions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "question": {
                                "type": "string"
                              },
                              "options": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "id",
                              "question",
                              "options"
                            ]
                          }
                        }
                      },
                      "required": [
                        "questions"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Quiz not found"
          }
        }
      },
      "post": {
        "summary": "Submit quiz answers",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "sectionId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "answers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "answers"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quiz results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "number"
                        },
                        "passed": {
                          "type": "boolean"
                        },
                        "correctAnswers": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "score",
                        "passed",
                        "correctAnswers"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/feedback": {
      "post": {
        "summary": "Submit lesson feedback",
        "tags": [
          "Academy"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "lessonId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "content",
                      "technical",
                      "suggestion",
                      "other"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  }
                },
                "required": [
                  "courseId",
                  "lessonId",
                  "rating",
                  "category",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/assessment/{courseId}/{lessonId}": {
      "get": {
        "summary": "Get assessment for a lesson",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Submit assessment answers",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment results"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/tracking-log/{courseId}/{lessonId}": {
      "get": {
        "summary": "Get tracking log for a lesson",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking log data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Save tracking log entry",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Saved"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/thought-record/{courseId}/{lessonId}": {
      "get": {
        "summary": "Get thought record for a lesson",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Thought record data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Save thought record entry",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Saved"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/checklist/{courseId}/{lessonId}": {
      "get": {
        "summary": "Get checklist state for a lesson",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Save checklist state",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Saved"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/academy/component-state/{courseId}/{lessonId}": {
      "get": {
        "summary": "Get interactive component state for a lesson",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Component state data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Save interactive component state",
        "tags": [
          "Academy"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "courseId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "lessonId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Saved"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ai/chat": {
      "post": {
        "summary": "Send a message to the wellness coach",
        "description": "Authenticated chat with the AI wellness coach. Includes crisis detection and personalized context from the user profile.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "history": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    },
                    "maxItems": 20,
                    "default": []
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "courseId": {
                        "type": "string"
                      },
                      "lessonId": {
                        "type": "string"
                      },
                      "sectionId": {
                        "type": "string"
                      },
                      "pageContext": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coach response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "crisisDetected": {
                          "type": "boolean"
                        },
                        "crisisLevel": {
                          "type": "string",
                          "enum": [
                            "none",
                            "low",
                            "medium",
                            "high"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "crisisDetected"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited — too many messages"
          },
          "503": {
            "description": "AI service unavailable"
          }
        }
      }
    },
    "/api/ai/voice/tts": {
      "post": {
        "summary": "Convert text to speech",
        "description": "Text-to-speech via OpenAI. Returns audio/mpeg stream.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "voice": {
                    "type": "string",
                    "enum": [
                      "alloy",
                      "echo",
                      "fable",
                      "onyx",
                      "nova",
                      "shimmer"
                    ]
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio stream",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/ai/voice/stt": {
      "post": {
        "summary": "Convert speech to text",
        "description": "Speech-to-text via OpenAI Whisper. Accepts audio file upload.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file (webm, mp3, wav, etc.)"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcribed text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "text"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/forum/discussions": {
      "get": {
        "summary": "List discussions with optional filters",
        "tags": [
          "Forum"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "popular",
                "newest",
                "oldest",
                "top"
              ]
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "tag",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discussions"
          }
        }
      },
      "post": {
        "summary": "Create a new discussion (moderated)",
        "description": "Requires authentication. Content is AI-moderated before publishing.",
        "tags": [
          "Forum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 200
                  },
                  "content": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10000
                  },
                  "tagIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 5
                  }
                },
                "required": [
                  "title",
                  "content",
                  "tagIds"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discussion created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Content blocked by moderation"
          }
        }
      }
    },
    "/api/forum/posts": {
      "post": {
        "summary": "Reply to a discussion (moderated)",
        "description": "Requires authentication. Content is AI-moderated before publishing.",
        "tags": [
          "Forum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "discussionId": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  }
                },
                "required": [
                  "discussionId",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Content blocked by moderation"
          }
        }
      }
    },
    "/api/forum/posts/{id}/like": {
      "post": {
        "summary": "Like or unlike a post",
        "tags": [
          "Forum"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Like toggled"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/forum/tags": {
      "get": {
        "summary": "List available forum tags",
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "List of tags"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check for load balancers and monitoring",
        "description": "Returns app and database status. Use ?diag=ai for AI service readiness, ?diag=ai-test for live connectivity test.",
        "tags": [
          "Health"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "ai-test"
              ]
            },
            "required": false,
            "name": "diag",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "All systems healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "enum": [
                        "wellness-academy"
                      ]
                    },
                    "checks": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "service",
                    "checks"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Degraded — database or service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "degraded"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "enum": [
                        "wellness-academy"
                      ]
                    },
                    "checks": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "service",
                    "checks"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}